// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: black;



@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
:root {
    --bs-body-font-family: 'Outfit', sans-serif;
}

// Navigation ___________________

.navbar {
    background-color: black;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
}


.navbar-text,
.nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 0.875rem;
}

.nav-link :hover {
    color: red;
    background-color: white;
    border-radius: 100%;
}

.navbar-brand {
    color: white;
    text-transform: uppercase;
    font-size: 2.1rem;
}


// Buttons
.btn {
    color: white;
    text-transform: uppercase;
    font-size: 0.875rem;
    border-radius: 100px;
    border: 2px solid var(--Main-Gray, #606060);
    padding: 16px 30px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

// Hero section
.hero {
    position: relative;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.hero-text {
    justify-content: center;
    align-items: center;
}

// Titles

.display {
    font-size: 7.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

h2 {
    font-size: 3.125rem;
    font-weight: 400;
}

p {
    font-size: 1.25rem;
    font-weight: 200;
}

.section-title {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1rem;
}

// Projects Cards
.card {
    border: none;
}

.card-body {
    padding-top: 3.125rem;
    padding-left: 0;
}

.card-img-project {
    border-radius: 2rem;
}

// About section
.card-img-about {
    size: 100%;
    height: 50rem;
}

.max-width-40 {
    max-width: 40rem;
}


// containers

.custom-container {
    height: 90vh;
    /* Définit la hauteur à 100% de la hauteur de la fenêtre */
    background-color: black;
    /* Fond noir pour le container */
    color: white;
    /* Texte blanc pour le contraste */
    border: 1px solid #ccc;
    /* Ajoutez une bordure pour visualiser le container */
    overflow: hidden;
}

.container-lg {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.spacer {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.centered-content {
    padding: 20px;
    /* Ajoutez une marge intérieure pour l'esthétique */
}